<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <nav>
        <div class="row">
            <h1>Acme Inc.</h1>
        </div>
    </nav>
    <main ng-controller="someCtrl">
        <div class="row">
            <div class="rectangular">
                <div class="col-6">
                    <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" height="150" width="150">
                </div>
                <div class="col-6">
                <div signup></div>
                    <sign-up>
                        <!-- <div class="form">
                        <div signup></div>
                        <input type="text" ng-model="name" placeholder="First Name"/>
                        <input type="text" ng-model="surname" placeholder="Last Name"/>
                        <br>
                        <input type="text" ng-model="email" placeholder="Email"/>
                        <br>
                        <br>
                        <button class="submit">Give us your infoz!</button>
                        </div> -->
                    </sign-up>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="rectangular">
                <p>Some footer stuff</p>
            </div>
        </div>
    </main>
</body>

</html>
